{
  "presets": [
    [
      "@babel/env",
      {
        "targets": {
          "node": "14"
        }
      }
    ],
    "@babel/preset-flow"
  ],
  "plugins": [
    "@babel/plugin-transform-runtime"
  ]
}
